

<% for(var i=0; i< data.length; i++){ %>
  <div class="d-flex flex-column">
        <div class="recipe-wrapper-item border p-1  d-sm-flex flex-sm-row ">
          <div class="flex-shrink-1 p-2">
            <a href="/recipes/${data[i].id}">
              <img loading='lazy' src="<%= data[i].image %>" alt='' class="img-thumbnail"/></a>
          </div>
          <div class="flex-grow-1 p-2">
            <h2 style="font-family: Lobster;">
              <a href="/recipes/<%= data[i].id %>" class="link-secondary text-decoration-none"><%= data[i].title %></a></h2>
              <div class="recipes-views">
                <span class="badge rounded-pill bg-secondary"> <%= data[i].views %> views</span>
                <span class="badge rounded-pill bg-info"> <%= data[i].likes %> Likes</span>
              </div>
            <p class="lead"><%= data[i].description %></p>
          </div>

        </div>


      </div>



<%} %>


            <% entries=data.map(function(elem) {
            return `<div class="d-flex flex-column">
									<div class="recipe-wrapper-item border p-1  d-sm-flex flex-sm-row ">
										<div class="flex-shrink-1 p-2">
											<a href="/recipes/${elem.id}"><img loading='lazy' src='${elem.image}' alt='' class="img-thumbnail"/></a>
										</div>
										<div class="flex-grow-1 p-2">
											<h2 style="font-family: Lobster;">
												<a href="/recipes/${elem.id}" class="link-secondary text-decoration-none">${elem.title}</a></h2>
												<div class="recipes-views">
													<span class="badge rounded-pill bg-secondary"> ${elem.views} views</span>
													<span class="badge rounded-pill bg-info"> ${elem.likes} Likes</span>
												</div>
											<p class="lead">${elem.description}</p>
										</div>

									</div>


								</div>`
          ;}) %>
          <%- entries %>
