<%- include('../partials/header'); %>



<main class="main d-sm-flex ">

	<div class="content flex-sm-column d-sm-flex">
		<div class="container">
			<div class="row py-4">
				<div class="col-md-12">
					<div class="recipe-view-wrapper py-5">
						<div class="recipe-view">
							<div class="recipe-item">
								<div class='header d-flex flex-column'>
									<h1 class="display" style="font-family: Lobster;">
										<%= data.title %>
									</h1>
									<div>

										<%= JSON.stringify(data.createdAt) %>
									</div>
								</div>
								<img class='p-2 border 'src="<%= data.image %>" alt="" width="100%" />
								<button class="save_btn btn btn-primary ">
									<span class="material-icons">favorite_border</span>
								</button>
								<button class="likes_btn btn  btn-primary  justify-content-start align-items-center">
									<span class="material-icons">thumb_up</span>
								</button>

							</div>


							<div class="recipe-view-description">
								<p class="lead"><%= data.description %></p>
							</div>

						</div>
						<div class="recipe-view-details py-3">
							<h1 class="display-5 ">
								Ingredients needed
							</h1>
								<div class="ingredients d-flex flex-sm-row justify-content-start">


									<% for(let i=0; i<data.ingredients.length; i++){ %>

		                  <div class=" ingredient p-2 flex-shrink-1 d-flex flex-column justify-content-center align-items-center me-1">
														<a href="/recipes/">
															<img width="70%" src="<%= data.ingredients[i].image %>" alt='' class="img-thumbnail"/>
														</a>
															<p class="lead">
															<a href="/recipes/<%= data.ingredients[i]._id %>" class="link-secondary text-decoration-none"><%= data.ingredients[i].name %></a></p>
													</div>

                 <% }  %>




								</div>
							</div>

						<div class="recipe-steps">
						<h1 class="display-5 ">
								Follow these steps below
							</h1>
						<% for( let i=0; i<data.steps.length; i++){ %>
            <p class="lead"> <span><%- i+1 %> - </span> <%=  data.steps[i] %></p>

            <%} %>

						</div>
						<div class="recipe-view-comments  d-flex flex-column">
							<!-- comment form -->
							<div class="comments-form">
								<h4> 4 comments</h4>
								<div class="mb-3">
								  <label for="exampleFormControlTextarea1" class="form-label">Be the first to comment</label>
								  <textarea placeholder='comment' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								</div>
								<button class="btn btn-primary">Post</button>
							</div>
							<div class="comments-wrapper d-flex">
								<!-- display all comments -->

							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>
	<aside class="aside border-start  d-flex flex-shrink-1">
		<div class="inner-aside">
		<div class="container">
			<div class="row py-4">

				<div class="col-md-12 py-5">
						<div class="user-recipe d-flex flex-sm-column border p-2 mb-2 shadow-sm ">
							<div class="flex-shrink-1 d-flex justify-content-center ">
                <div class='position-relative d-flex justify-content-center'>
								<img class='rounded-circle p-3 border'width="70%" src='<%= data.user.profile %>' alt='username here'/>
                </div>
							</div>
							<div class="flex-grow-1 ">
								<p class=" text-center"><%= data.user.name %></p>
								<p class="lead text-center"><%= data.user.about %>.</p>
								<p class="text-center"><button onclick="alert('hello world')" class="btn btn-outline-primary btn-block">Follow</button>

							</div>
							<div></div>

							</div>
						<div class="user-recipe d-flex flex-sm-row border p-2 mb-2 shadow-sm mb-5">

							<div class="card" style="width: 100%;">
							  <div class="card-header">
							    Most Popular
							  </div>
							  <ul class="list-group list-group-flush">
							    <li class="list-group-item">An item</li>
							    <li class="list-group-item">A second item</li>
							    <li class="list-group-item">A third item</li>
							  </ul>
							</div>

						</div>

				</div>
			</div>
		</div>
	</div>
	</aside>


</main>
